# Node / project
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment files (ne kerüljön a gitbe)
.env
.env.local
.env.*.local

# Editor / OS
.vscode/
.DS_Store

# Build outputs
dist/
build/
