

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* termekeknel a kep lekicsinyitese */
.kepp {
    width: 30% !important;
    height: 5%;
    object-fit: cover;
}

/* termekeknel a kartya merete */
.card {
  min-height: 350px;
  border: none;
}

/* ha raviszem az egeret */
.card:hover {
  cursor: pointer;
}

/* az offcanvas menuben kisebb betumeret */
.offcanvas {
  font-size: 14px;
}

/* modal ablakok megnyitasakor blur hatter */
.modal-open .modal-backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.offcanvas-backdrop {
  transition: backdrop-filter 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.offcanvas-backdrop.show {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}



/* modal fejlec-lablec semmi border */
.modal-header { border-bottom: none; }
.modal-footer { border-top: none; }

/* velemenyek kisebb betumeret */
.comment { font-size: 14px; }

/* label korul ne legyen semmi ::after elem mert neha nem jeleniti meg jol */
label::after { content: none !important; }

/* a dropdown-nal ne mutassa azt a kis nyilat */
.dropdown-toggle::after { display: none !important; }

/* felso menusorban a gomboknak semmi border + atmenet ha raviszem az egeret */
.gomb { border: none; }


/* felso menusor doboz also border (feher csik) */
.gombdiv button {
  background-color: transparent;
}

/* vilagos modban */
.gombdiv button.aktiv { background-color: oklch(87.1% 0.006 286.286);} 

/* sotet modban */
html.dark .gombdiv button.aktiv { background-color: oklch(37.3% 0.034 259.733);} 


.shadow-bottom {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.175);
}


#login_gomb_div {
  transition: all 0.3s ease;
}

#login_gomb_div.bal {
  justify-content: flex-start;
  transition: 0.5s ease;
}

#login_gomb_div.kozep {
  justify-content: center;
  transition: 0.5s ease;
}

#login_gomb_div.jobb {
  justify-content: flex-end;
  transition: 0.5s ease;
}

/* velemeny iras mezo merete */
#velemeny_input { height: 150px; }

#mod_leiras { height: 150px; }

/* nem elerheto termekek kartya stilusa */
.nem-elerheto {
  background-color: var(--bs-secondary-bg);
  border-radius: var(--bs-border-radius);
  opacity: 0.65; /* halvanyabb */
  /*pointer-events: none;*/ /* ne lehessen kattintani */
  user-select: none; /* ne lehessen kijelolni */
}

li:hover {
  cursor: pointer;
}

#nev1 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none;
  
}

#kereses_gomb {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}


.feka {
  background-color: var(--bs-light);
  color: var(--bs-body-color);
}

.fhr {
  background-color: var(--bs-white);
  color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .fhr {
  background-color: var(--bs-dark) !important; 
  color: var(--bs-light);
  border: none !important;
}


html[data-bs-theme="dark"] .feka {
  background-color: #16181b !important; 
  color: var(--bs-body-color);
  border: none !important;
}

.eltunt {
  display: none;
}

.hover-shadow {
  transition: all 0.4s ease; 
  
}

.hover-shadow:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: translateY(-15px);
}


.form-control-lg {
  border-radius: 0px;
  border: 1px solid var(--bs-dark);
}

.bal-gomb {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  
}

.jobb-gomb {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  
}





/* tooltip egyedi stilusa */


/*
.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}

.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}

.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid #cacaca;
  height: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}

.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  display: inline-block;
  width: 40px;
  background: #e6e6e6;
  color: #0a0a0a;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 400;
}

.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}
  */