.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.flex-doboz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding: 5px;
}

.flex-doboz > label,select,button { margin: 5px;}

/* Alapértelmezett betűméret */ 
.fejléc { font-size: 24px; font-weight: bold;} 

/* = bootstrap small - Kisebb képernyőn kisebb betűméret */
@media (max-width: 600px) { .fejléc { font-size: 18px; font-weight: normal; } }


.kepp {
    width: 30% !important;
    height: 5%;
    object-fit: cover;
}

.card {
  min-height: 350px;
}

.card:hover {
  cursor: pointer;
}

.offcanvas {
  font-size: 14px;
}

.modal-open .modal-backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

label::after {
  content: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.gomb {
  border: none;
}

.gomb:hover {
  transition: 0.5s ease;
}


.gombdiv {
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease;
}

.gombdiv.aktiv {
  border-bottom: 2px solid #fff;
}

#nev1::placeholder {
  font-style: italic;
}

#login_gomb_div {
  transition: all 0.3s ease;
}

#login_gomb_div.bal {
  justify-content: flex-start;
  transition: 0.5s ease;
}

#login_gomb_div.kozep {
  justify-content: center;
  transition: 0.5s ease;
}

#login_gomb_div.jobb {
  justify-content: flex-end;
  transition: 0.5s ease;
}

#velemeny_input {
  height: 100px;
}

.nem-elerheto {
  background-color: var(--bs-secondary-bg);
  border-radius: var(--bs-border-radius);
  opacity: 0.65;
  pointer-events: none;
  user-select: none;
}


.feka {
  background-color: var(--bs-light) !important;
  color: var(--bs-body-color);
}

.fhr {
  background-color: var(--bs-white) !important;
  color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .fhr {
  background-color: var(--bs-dark) !important; 
  color: var(--bs-light);
  border: none !important;
}


html[data-bs-theme="dark"] .feka {
  background-color: #181c1f !important; 
  color: var(--bs-body-color);
  border: none !important;
}
