.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* termekeknel a kep lekicsinyitese */
.kepp {
    width: 30% !important;
    height: 5%;
    object-fit: cover;
}

/* termekeknel a kartya merete */
.card {
  min-height: 350px;
  border: none;
}

/* ha raviszem az egeret */
.card:hover {
  cursor: pointer;
}

/* az offcanvas menuben kisebb betumeret */
.offcanvas {
  font-size: 14px;
}

/* modal ablakok megnyitasakor blur hatter */
.modal-open .modal-backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

/* modal fejlec-lablec semmi border */
.modal-header { border-bottom: none; }
.modal-footer { border-top: none; }

/* velemenyek kisebb betumeret */
.comment { font-size: 14px; }

/* label korul ne legyen semmi ::after elem mert neha nem jeleniti meg jol */
label::after { content: none !important; }

/* a dropdown-nal ne mutassa azt a kis nyilat */
.dropdown-toggle::after { display: none !important; }

/* felso menusorban a gomboknak semmi border + atmenet ha raviszem az egeret */
.gomb { border: none; }
.gomb:hover { transition: 0.5s ease; }

/* felso menusor doboz also border (feher csik) */
.gombdiv {
  border-bottom: 2px solid transparent; /* alapbol nincs */ 
  transition: border-color 0.5s ease;
}

.gombdiv.aktiv { border-bottom: 2px solid #fff; } /* ha eppen ott vagyok akkor legyen csak */


#login_gomb_div {
  transition: all 0.3s ease;
}

#login_gomb_div.bal {
  justify-content: flex-start;
  transition: 0.5s ease;
}

#login_gomb_div.kozep {
  justify-content: center;
  transition: 0.5s ease;
}

#login_gomb_div.jobb {
  justify-content: flex-end;
  transition: 0.5s ease;
}

/* velemeny iras mezo merete */
#velemeny_input { height: 150px; }

/* nem elerheto termekek kartya stilusa */
.nem-elerheto {
  background-color: var(--bs-secondary-bg);
  border-radius: var(--bs-border-radius);
  opacity: 0.65; /* halvanyabb */
  pointer-events: none; /* ne lehessen kattintani */
  user-select: none; /* ne lehessen kijelolni */
}


.feka {
  background-color: var(--bs-light) !important;
  color: var(--bs-body-color);
}

.fhr {
  background-color: var(--bs-white) !important;
  color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .fhr {
  background-color: var(--bs-dark) !important; 
  color: var(--bs-light);
  border: none !important;
}


html[data-bs-theme="dark"] .feka {
  background-color: #16181b !important; 
  color: var(--bs-body-color);
  border: none !important;
}

.eltunt {
  display: none;
}

.hover-shadow {
  transition: all 0.4s ease; 
  
}

.hover-shadow:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: translateY(-15px);
  
}
