.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.flex-doboz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding: 5px;
}

.flex-doboz > label,select,button { margin: 5px;}

/* Alapértelmezett betűméret */ 
.fejléc { font-size: 24px; font-weight: bold;} 

/* = bootstrap small - Kisebb képernyőn kisebb betűméret */
@media (max-width: 600px) { .fejléc { font-size: 18px; font-weight: normal; } }


.kepp {
    width: 290px;
    height: 250px;
    object-fit: cover;
}

.card:hover {
  cursor: pointer;
}

.offcanvas {
  font-size: 14px;
}

.modal-open .modal-backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

/* 
.card {
  background-color: var(--bs-light) !important;
  color: var(--bs-body-color);
}


html[data-bs-theme="dark"] .card {
  background-color: #000 !important; 
  color: var(--bs-body-color);
}
*/