body, html {
  height: 100%;
  margin: 0;
}

.anton-regular {
  /*
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  */
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

/* termekeknel a kep lekicsinyitese */
.kepp {
    width: 60px !important;
    height: 60px;
    object-fit: cover;
}

.kepp2 {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

/* termekeknel a kartya merete */
.card {
  min-height: 350px;
  border: none;
}

/* ha raviszem az egeret */
.card:hover {
  cursor: pointer;
}

/* az offcanvas menuben kisebb betumeret */
.offcanvas {
  font-size: 14px;
}

/* modal ablakok megnyitasakor blur hatter */
.modal-open .modal-backdrop {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.offcanvas-backdrop {
  transition: backdrop-filter 0.4s ease, background-color 0.4s ease, opacity 0.4s ease;
  backdrop-filter: blur(0px);
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.offcanvas-backdrop.show {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}



/* modal fejlec-lablec semmi border */
.modal-header { border-bottom: none; }
.modal-footer { border-top: none; }

/* velemenyek kisebb betumeret */
.comment { font-size: 14px; }

/* label korul ne legyen semmi ::after elem mert neha nem jeleniti meg jol */
label::after { content: none !important; }

/* a dropdown-nal ne mutassa azt a kis nyilat */
.dropdown-toggle::after { display: none !important; }

/* felso menusorban a gomboknak semmi border + atmenet ha raviszem az egeret */
.gomb { border: none; }


/* felso menusor doboz also border (feher csik) */
.gombdiv button {
  background-color: transparent;
}

/* vilagos modban */
.gombdiv button.aktiv { 
  background-color: oklch(96.7% 0.001 286.375);
  box-shadow: 0 8px 6px -6px oklch(96.7% 0.001 286.375);
} 

/* sotet modban */
html.dark .gombdiv button.aktiv { 
  background-color: oklch(37.3% 0.034 259.733);
  box-shadow: 0px 8px 6px -6px oklch(37.3% 0.034 259.733);
} 


.shadow-bottom {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.175);
}


#login_gomb_div {
  transition: all 0.3s ease;
}

#login_gomb_div.bal {
  justify-content: flex-start;
  transition: 0.5s ease;
}

#login_gomb_div.kozep {
  justify-content: center;
  transition: 0.5s ease;
}

#login_gomb_div.jobb {
  justify-content: flex-end;
  transition: 0.5s ease;
}

/* velemeny iras mezo merete */
#velemeny_input { height: 150px; }

#mod_leiras { height: 150px; }

/* nem elerheto termekek kartya stilusa */
.nem-elerheto {
  background-color: var(--bs-secondary-bg);
  border-radius: var(--bs-border-radius);
  opacity: 0.65; /* halvanyabb */
  /*pointer-events: none;*/ /* ne lehessen kattintani */
  user-select: none; /* ne lehessen kijelolni */
}

li:hover {
  cursor: pointer;
}

#nev1 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none;
  
}

#kereses_gomb {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}


.feka {
  background-color: var(--bs-light);
  color: var(--bs-body-color);
}

.fhr {
  background-color: var(--bs-white);
  color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .fhr {
  background-color: var(--bs-dark) !important; 
  color: var(--bs-light);
  border: none !important;
}


html[data-bs-theme="dark"] .feka {
  background-color: #16181b !important; 
  color: var(--bs-body-color);
  border: none !important;
}

.eltunt {
  display: none;
}

.hover-shadow {
  transition: all 0.4s ease; 
  
}

.hover-shadow:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transform: translateY(-15px);
}


.form-control-lg {
  border-radius: 0px;
  border: 1px solid var(--bs-dark);
}




/* scrollbar szelesseg */
::-webkit-scrollbar {
  width: 8px;
}

/* az egesz */
::-webkit-scrollbar-track {
  background: oklch(92.8% 0.006 264.531); /* gray-200 */
}

/* a cucc ami benne van amit lehet huzni */
::-webkit-scrollbar-thumb {
  background: oklch(70.7% 0.022 261.325); /* gray-400 */
  border-radius: 9999px;
}

/* sotetben */
html.dark ::-webkit-scrollbar-track {
  background: oklch(21% 0.034 264.665); /* gray-900 */
}

html.dark ::-webkit-scrollbar-thumb {
  background: oklch(44.6% 0.03 256.802); /* gray-600 */
}

